.content {
    width: calc(100vw - 240px);
    display: flex;
    flex-direction: column;
}
.chips-wrapper {
    overflow-x: scroll;
    display: flex;
    padding-left: 14px;
}
.chips-wrapper::-webkit-scrollbar {
    height: 0;
}
.chip {
    margin: 12px 6px;
    background-color: #ebebeb;
    padding: 14px 16px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
    transition: .5s;
}
.chip:hover {
    background-color: #aeadad;
}
.chip:first-child{
    background-color:#ff9e00;
    color: #fff;
}
.video-container {
    overflow-y: scroll;
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: column;
}
.video-content-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    flex: 1;
    padding: 20px 25px;
}
.video-content-cover {
    position: relative;
}
.video-content {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}
.video-box {
    position: relative;
    width: auto;
    height: 200px;
    display: block;
}
.video-content-cover:nth-child(2n) .video-box:before {
    content:'LIVE';
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    top: 8px;
    left: 8px;
    border-radius: 7px;
}
.video-content-cover:nth-child(2n) .video-box:after {
    content:'71.1K viewers';
    position: absolute;
    width: 80px;
    height: 20px;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(43, 41, 41, 0.648);
    color: #fff;
    font-size: 12px;
    bottom: 8px;
    right: 8px;
    border-radius: 7px;
}
.video-box:after {
    content:'13:10';
    position: absolute;
    width: 40px;
    height: 20px;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(43, 41, 41, 0.648);
    color: #fff;
    bottom: 8px;
    right: 8px;
    border-radius: 7px;
}
.video-box__overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}
.video-box__overlay svg {
    fill: #fff;
}
.video-box:hover .video-box__overlay {
    opacity: 1;
}
.video-details {
    display: flex;
    padding-top: 12px;
}
.channel-logo {
    position: relative;
    min-width: 35px;
    height: 35px;
    background-color:#fff;
    border-radius: 50%;
    overflow: hidden;
}
.channel-detail {
    margin-left: 12px;
}
.video-content:hover .title {
    font-size: .7rem;
}
.channel-title {
    font-size: .9rem;
    cursor: pointer;
    text-overflow: ellipsis;
}
.channel-name {
    font-size: .8rem;
    margin-top: 10px;
    color: #aaa;
    cursor: pointer;
}
.channel-title:hover, .channel-name:hover {
    color: rgb(38, 155, 244);
}